.card-container {
  width: 100%;
  margin: 10px auto auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card {
  height: 300px;
  border: 1.6px solid rgb(0, 93, 124);
  border-radius: 5px;
}

.card-pictures {
  height: 75%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-pictures-indisponibles {
  height: 75%;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card-infos {
  position: relative;
  width: 100%;
  height: 25%;
  padding: 5px;
  background-color: rgba(117, 193, 255, 0.6);
  transition: background 0.5s ease;
  p {
    font-size: 18px;
  }
  border-radius: 0 0 5px 5px;
}

.card-infos:hover {
  background-color: rgb(117, 193, 255);
}

.card-infos-indisponibles {
  background-color: rgba(255, 137, 137, 0.6);
  transition: background 0.5s ease;
}

.card-infos-indisponibles:hover {
  background-color: rgba(255, 137, 137, 0.9);
}

.card-infos span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  top:0px;
  left:0px;
}

#slides {
  .prix {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .prix-bas {
      width: 18%;
      background-color: white;
      padding: 2px;
      margin-bottom: 5px;
      border-radius: 0 3px 3px 0;
      p {
        font-size: 20px;
      }
    }
  }
}
