.filter-box {
  margin-top: -40px;
  text-align: center;
  text-align-last: center;
  input:focus, button:focus, select:focus{ outline: none; }
  .filter-box-top {
    select, button {
      -webkit-appearance: none;
      -webkit-box-shadow: none;
      width: 20%;
      padding: 10px;
      border-radius: 40px;
      border: 2px solid rgba(0, 136, 186, 0.8);
      margin-bottom: 20px;
      font-size: 15px;
    }

    select:hover, button:hover {
      border: 2px solid rgb(0, 93, 124);
      cursor: pointer;
    }

    .price-card {
      width: 200px;
      height: 200px;
      padding: 10px;
      position: absolute;
      border: 1px solid gray;
      background-color: white;
      margin: -20px 0 0 0;
    }

  }
  .filter-box-middle {
    input {
      width: 50%;
      padding: 10px;
      border-radius: 40px;
      margin: 0 0 20px 0;
      border: 2px solid rgba(0, 136, 186, 0.8);
      background-image:none;
      background-color:transparent;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-size: 15px;
      text-align: center;
    }

    input:hover {
      border: 2px solid rgb(0, 93, 124);
      cursor: pointer;
    }

  }
  .filter-box-bottom {
    input {
      width: 20%;
      padding: 10px;
      border-radius: 40px;
      border: 2px solid rgba(0, 136, 186, 0.8);
      font-size: 15px;
    }

    input:hover {
      border: 2px solid rgb(0, 93, 124);
      cursor: pointer;
    }
    margin-bottom: 20px;

  }
}






