.tdkot{
	background-color: #bde9ba;
	border: 1px solid black;
  	padding: 10px;
}

.tab_kot{
	margin: auto;
}

.liste_kot{
	text-align: center;
	margin-top : 5vh;
}

.cadre{
	margin: auto;
}

.taille{
	width: 80%;
}