


.tdkot{
	background-color: rgb(147, 212, 255);
	border: 1px solid black;
  padding: 10px;
}

.cadre{
	margin: auto;
}

.taille{
	width: 80%;
}



.container_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10vw 0 10vw;
}


.gras{
	font-weight: bold;
}


@media(max-width: 900px) {
  .container_list{
    margin: 0 5vw 0 5vw;
  }
}

@media(max-width: 700px) {
  .container_list{
    margin: 0;
  }
}



