.topnav {
  background-color: #000000 ;
  opacity: 0.9;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 5;
}

.left{
  float: left;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.right{
  float: right;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.left:hover {
  background-color: rgb(28, 28, 28);
}

.left.active {
  background-color: rgb(28, 28, 28);
}

.right:hover {
  background-color: rgb(28, 28, 28);
}

.right.active {
  background-color: rgb(28, 28, 28);
}
