.input-new {
  margin: 3px;
}

.submit-kot {
  color: red;
}

.photo-input {
  display: none;
}

@media(max-width: 900px) {
  .photo-input {
    display: block;
  }
}

.radio-buttons {
  display: flex;
}

.radio-button {
  margin: 10px 20px 10px 20px;
}
