.searchbar2 {
  text-align: left;
  margin: 20px 10vw 20px 10vw;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  input {
    font-size: 25px;
  }
  .btn {
    font-size: 20px;
  }

}

.flex{
  display : flex;
}

.left_p{
  float:right;
}

.nav-link{
  color : #64666A;
  font-size : 50px;
  margin-right : 20px;
  padding: 20px 28px;
}

.nav-link:hover {
  background-color: #f4f5f5;
}

.pad{
  padding: 4px;
}

.padtop{
  padding-top: 10px;
}

.adresse_titre{
  padding-top: 32px;
}


