.searchbar2 {
  text-align: left;
  margin: 20px 10vw 20px 10vw;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  input {
    font-size: 25px;
  }
  .btn {
    font-size: 20px;
  }

}

.flex{
  display : flex;
}

.left_p{
  float:right;
}

.nav-link{
  font-size : 50px;
  margin-right : 20px;
  margin-left : 10px;
  background-color: #bfbfbf ;
  padding: 8px 20px;
}

.nav-link:hover {
  background-color: #64666A;
}