.searchbar2 {
  text-align: left;
  margin: 20px 10vw 20px 10vw;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  input {
    font-size: 25px;
  }
  .btn {
    font-size: 20px;
  }

}

.flex{
  display : flex;
}

.left_p{
  float:right;
}